form {
  display: flex;
  padding-bottom: 5px;
  text-align: center;
  align-items: center;
}
label {
  padding-right: 5px;
  padding-left: 50px;
}
input {
  flex: 1;
  height: 25px;
}
.Amount {
  width: 30px;
}
.Measure {
  width: 60px;
}
.Ingredient {
  width: 300px;
}
.Step {
  width: 80%;
}
div, section, header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}
h1{
  font-size: 2em;
}
#submitButton {
  margin-top: 20px;
}
nav {
  text-align: center;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
nav ul li a {
  text-decoration: none;
}
.navImage {
  width: 50px;
  height: 50px;
}