* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "DM Sans", Arial, sans-serif;
  line-height: 1.6;
  background-color: white;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #8499b1;
  color: white;
  font-family: "Playfair Display", "serif";
  margin-bottom: 20px;
}
.logo {
  width: 40px;
  height: 40px;
  display: block;
}
.profile-icon {
  width: 35px;
  height: 35px;
  display: block;
}
.nav-brand-link {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  text-decoration: none;
  color: white;
}
.nav-brand {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Playfair Display", serif;
}
.nav-links {
  display: flex;
  gap: 6rem;
}
.nav-links a {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  font-family: "Playfair Display", serif;
  font-size: 1.2rem;
}
.nav-links a.active {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}
.nav-profile {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-family: "Playfair Display", serif;
  font-size: 1.2rem;
}
.profile-link {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  text-decoration: none;
  color: white;
}
.profile-link:hover {
  opacity: 0.8;
}
.nav-links a:hover,
.nav-brand-link:hover {
  opacity: 0.8;
}
.recipe {
  display: grid;
  grid-template-columns: 1fr 0.5fr 2.5fr 3fr 0.5fr;
  grid-template-rows: 1fr;
  grid-template-areas: "recipeSpan" "allergenDiv" "ul" "expansionDiv" "button-container";
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
#recipeList {
  gap: 10px;
  margin: 0 auto;
  width: 80%;
}
.button-container {
  display: flex;
  gap: 10px;
  justify-content: right;
}
button {
  font-family: "DM Sans", Arial, sans-serif;
}
#createButton {
  display: inline;
  text-align: center;
  justify-content: center;
  width: 150px;
  padding: 1rem;
  background-color: #f4c846;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1.1rem;
  cursor: pointer;
  margin: 2rem 0 10px 10px;
}
.editButton,
.deleteButton,
.scaleButton,
.convertButton {
  background-color: #65ac4f;
  border: none;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
}
.deleteButton {
  background-color: #d15e60;
}
.scaleButton {
  background-color: rgb(4, 90, 176);
}
.convertButton {
  display: inline;
  text-align: center;
  justify-content: center;
  width: 165px;
  background-color: gray;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
}
section {
  display: flex;
  justify-content: center;
}
main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 2rem auto;
  padding: 0 1rem;
}
.recipeSpan {
  font-weight: bold;
}
ul {
  list-style-type: none;
}
.expansionButton {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  cursor: pointer;
  position: absolute;
  background-color: transparent;
}
.expansionButton.collapsed {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.expansionButton.open {
  transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
}
.expansionContent {
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  max-height: 0;
}
.buttonSpan {
  cursor: pointer;
  font-weight: 500;
  padding-right: 5px;
}
.allergen {
  display: block;
  background-color: rgb(200, 106, 6);
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 3px;
  min-width: 150px;
  text-align: center;
  margin-right: 10px;
}
.recipe .allergen:empty {
  background-color: transparent;
  color: transparent;
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 500px;
  max-width: 80%;
}
.modalHeader {
  display: flex;
  padding: 10px 15px;
  justify-content: space-between;
  align-items: center;
}
.closeModalButton {
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
  border: none;
  outline: none;
  background: none;
}
.modalBody {
  padding: 10px 15px;
  max-height: 70vh;
  overflow-y: auto;
}
.ingredientModalHeader {
  padding-top: 10px;
}
.instructionModalHeader {
  padding-top: 10px;
}
.scaleLabel {
  padding-right: 5px;
}
.applyButton {
  margin-left: 5px;
  border: none;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
  background-color: rgb(4, 90, 176);
}
.modalInput {
  height: 25px;
  border: 0.5px solid gray;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 5px;
  width: 60px;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
